/* ---- Functions ---- */

/* -- Core Variables -- */

/* ---- Core Build ---- */

.grid {
  letter-spacing: -0.31em !important;
  *letter-spacing: normal !important;
}

.grid .col {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-2-5 {
  display: inline-block;
  width: 2.5%;
}

.grid .col-pr-2-5 {
  margin-left: 2.5%;
}

.grid .col-pl-2-5 {
  margin-left: 2.5%;
}

.grid .col-5 {
  display: inline-block;
  width: 5%;
}

.grid .col-pr-5 {
  margin-left: 5%;
}

.grid .col-pl-5 {
  margin-left: 5%;
}

.grid .col-7-5 {
  display: inline-block;
  width: 7.5%;
}

.grid .col-pr-7-5 {
  margin-left: 7.5%;
}

.grid .col-pl-7-5 {
  margin-left: 7.5%;
}

.grid .col-10 {
  display: inline-block;
  width: 10%;
}

.grid .col-pr-10 {
  margin-left: 10%;
}

.grid .col-pl-10 {
  margin-left: 10%;
}

.grid .col-12-5 {
  display: inline-block;
  width: 12.5%;
}

.grid .col-pr-12-5 {
  margin-left: 12.5%;
}

.grid .col-pl-12-5 {
  margin-left: 12.5%;
}

.grid .col-15 {
  display: inline-block;
  width: 15%;
}

.grid .col-pr-15 {
  margin-left: 15%;
}

.grid .col-pl-15 {
  margin-left: 15%;
}

.grid .col-17-5 {
  display: inline-block;
  width: 17.5%;
}

.grid .col-pr-17-5 {
  margin-left: 17.5%;
}

.grid .col-pl-17-5 {
  margin-left: 17.5%;
}

.grid .col-20 {
  display: inline-block;
  width: 20%;
}

.grid .col-pr-20 {
  margin-left: 20%;
}

.grid .col-pl-20 {
  margin-left: 20%;
}

.grid .col-22-5 {
  display: inline-block;
  width: 22.5%;
}

.grid .col-pr-22-5 {
  margin-left: 22.5%;
}

.grid .col-pl-22-5 {
  margin-left: 22.5%;
}

.grid .col-25 {
  display: inline-block;
  width: 25%;
}

.grid .col-pr-25 {
  margin-left: 25%;
}

.grid .col-pl-25 {
  margin-left: 25%;
}

.grid .col-27-5 {
  display: inline-block;
  width: 27.5%;
}

.grid .col-pr-27-5 {
  margin-left: 27.5%;
}

.grid .col-pl-27-5 {
  margin-left: 27.5%;
}

.grid .col-30 {
  display: inline-block;
  width: 30%;
}

.grid .col-pr-30 {
  margin-left: 30%;
}

.grid .col-pl-30 {
  margin-left: 30%;
}

.grid .col-32-5 {
  display: inline-block;
  width: 32.5%;
}

.grid .col-pr-32-5 {
  margin-left: 32.5%;
}

.grid .col-pl-32-5 {
  margin-left: 32.5%;
}

.grid .col-35 {
  display: inline-block;
  width: 35%;
}

.grid .col-pr-35 {
  margin-left: 35%;
}

.grid .col-pl-35 {
  margin-left: 35%;
}

.grid .col-37-5 {
  display: inline-block;
  width: 37.5%;
}

.grid .col-pr-37-5 {
  margin-left: 37.5%;
}

.grid .col-pl-37-5 {
  margin-left: 37.5%;
}

.grid .col-40 {
  display: inline-block;
  width: 40%;
}

.grid .col-pr-40 {
  margin-left: 40%;
}

.grid .col-pl-40 {
  margin-left: 40%;
}

.grid .col-42-5 {
  display: inline-block;
  width: 42.5%;
}

.grid .col-pr-42-5 {
  margin-left: 42.5%;
}

.grid .col-pl-42-5 {
  margin-left: 42.5%;
}

.grid .col-45 {
  display: inline-block;
  width: 45%;
}

.grid .col-pr-45 {
  margin-left: 45%;
}

.grid .col-pl-45 {
  margin-left: 45%;
}

.grid .col-47-5 {
  display: inline-block;
  width: 47.5%;
}

.grid .col-pr-47-5 {
  margin-left: 47.5%;
}

.grid .col-pl-47-5 {
  margin-left: 47.5%;
}

.grid .col-50 {
  display: inline-block;
  width: 50%;
}

.grid .col-pr-50 {
  margin-left: 50%;
}

.grid .col-pl-50 {
  margin-left: 50%;
}

.grid .col-52-5 {
  display: inline-block;
  width: 52.5%;
}

.grid .col-pr-52-5 {
  margin-left: 52.5%;
}

.grid .col-pl-52-5 {
  margin-left: 52.5%;
}

.grid .col-55 {
  display: inline-block;
  width: 55%;
}

.grid .col-pr-55 {
  margin-left: 55%;
}

.grid .col-pl-55 {
  margin-left: 55%;
}

.grid .col-57-5 {
  display: inline-block;
  width: 57.5%;
}

.grid .col-pr-57-5 {
  margin-left: 57.5%;
}

.grid .col-pl-57-5 {
  margin-left: 57.5%;
}

.grid .col-60 {
  display: inline-block;
  width: 60%;
}

.grid .col-pr-60 {
  margin-left: 60%;
}

.grid .col-pl-60 {
  margin-left: 60%;
}

.grid .col-62-5 {
  display: inline-block;
  width: 62.5%;
}

.grid .col-pr-62-5 {
  margin-left: 62.5%;
}

.grid .col-pl-62-5 {
  margin-left: 62.5%;
}

.grid .col-65 {
  display: inline-block;
  width: 65%;
}

.grid .col-pr-65 {
  margin-left: 65%;
}

.grid .col-pl-65 {
  margin-left: 65%;
}

.grid .col-67-5 {
  display: inline-block;
  width: 67.5%;
}

.grid .col-pr-67-5 {
  margin-left: 67.5%;
}

.grid .col-pl-67-5 {
  margin-left: 67.5%;
}

.grid .col-70 {
  display: inline-block;
  width: 70%;
}

.grid .col-pr-70 {
  margin-left: 70%;
}

.grid .col-pl-70 {
  margin-left: 70%;
}

.grid .col-72-5 {
  display: inline-block;
  width: 72.5%;
}

.grid .col-pr-72-5 {
  margin-left: 72.5%;
}

.grid .col-pl-72-5 {
  margin-left: 72.5%;
}

.grid .col-75 {
  display: inline-block;
  width: 75%;
}

.grid .col-pr-75 {
  margin-left: 75%;
}

.grid .col-pl-75 {
  margin-left: 75%;
}

.grid .col-77-5 {
  display: inline-block;
  width: 77.5%;
}

.grid .col-pr-77-5 {
  margin-left: 77.5%;
}

.grid .col-pl-77-5 {
  margin-left: 77.5%;
}

.grid .col-80 {
  display: inline-block;
  width: 80%;
}

.grid .col-pr-80 {
  margin-left: 80%;
}

.grid .col-pl-80 {
  margin-left: 80%;
}

.grid .col-82-5 {
  display: inline-block;
  width: 82.5%;
}

.grid .col-pr-82-5 {
  margin-left: 82.5%;
}

.grid .col-pl-82-5 {
  margin-left: 82.5%;
}

.grid .col-85 {
  display: inline-block;
  width: 85%;
}

.grid .col-pr-85 {
  margin-left: 85%;
}

.grid .col-pl-85 {
  margin-left: 85%;
}

.grid .col-87-5 {
  display: inline-block;
  width: 87.5%;
}

.grid .col-pr-87-5 {
  margin-left: 87.5%;
}

.grid .col-pl-87-5 {
  margin-left: 87.5%;
}

.grid .col-90 {
  display: inline-block;
  width: 90%;
}

.grid .col-pr-90 {
  margin-left: 90%;
}

.grid .col-pl-90 {
  margin-left: 90%;
}

.grid .col-92-5 {
  display: inline-block;
  width: 92.5%;
}

.grid .col-pr-92-5 {
  margin-left: 92.5%;
}

.grid .col-pl-92-5 {
  margin-left: 92.5%;
}

.grid .col-95 {
  display: inline-block;
  width: 95%;
}

.grid .col-pr-95 {
  margin-left: 95%;
}

.grid .col-pl-95 {
  margin-left: 95%;
}

.grid .col-97-5 {
  display: inline-block;
  width: 97.5%;
}

.grid .col-pr-97-5 {
  margin-left: 97.5%;
}

.grid .col-pl-97-5 {
  margin-left: 97.5%;
}

.grid .col-100 {
  display: inline-block;
  width: 100%;
}

.grid .col-pr-100 {
  margin-left: 100%;
}

.grid .col-pl-100 {
  margin-left: 100%;
}

/* ---- Core Grid ---- */