/* ---- Functions ---- */
@function str-replace($string, $substr, $newsubstr, $all: 0) {
	$position-found: str-index($string, $substr);
	$processed: ();

	@while ($position-found and $position-found > 0) {
		$length-substr: str-length($substr);
		$processed: append($processed, str-slice($string, 0, $position-found - 1));
		$processed: append($processed, $newsubstr);
		$string: str-slice($string, $position-found + $length-substr);
		$position-found: 0;

		@if ($all > 0) {
			$position-found: str-index($string, $substr);
		}
	}

	$processed: append($processed, $string);
	$string: "";

	@each $s in $processed {
		$string: #{$string}#{$s};
	}
	@return $string;
}

/* -- Core Variables -- */
$_grid-colunms: 20;
$_grid-gutter: 5px;

$percentage-jumps: 100 / $_grid-colunms;


/* ---- Core Build ---- */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid {
	letter-spacing: -0.25em !important;
	*letter-spacing: normal !important;
	position: relative;
	.row {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		align-items: stretch;
	}
	.col {
		display: inline-block;
		vertical-align: top;
		letter-spacing: normal;
		word-spacing: normal;
	}
	.col-33 {
		width: 33%;
	}
	.col-pr-33 {
		margin-left: 33%;
	}
	.col-pl-33 {
		margin-right: 33%;
	}
	.col-66 {
		width: 66%;
	}
	.col-pr-66 {
		margin-left: 66%;
	}
	.col-pl-66 {
		margin-right: 66%;
	}
	@for $c from 1 through $_grid-colunms {
		$c-width: $c * $percentage-jumps;
		$c-clean: str-replace(inspect($c-width), '.', '-', 1);
		$c-percent: $c-width * 1%;

		.col-#{$c-clean} {
			display: inline-block;
			width: $c-percent;
		}
		.col-pr-#{$c-clean} {
			margin-left: $c-percent;
		}
		.col-pl-#{$c-clean} {
			margin-left: $c-percent;
		}
	}
}

@media screen and (max-width: 43.75em) {
	.grid{
		.col-m-block {
			display: block;
			width: 100%;
			margin: 0 0;
		}
		.col-m-33 {
			width: 33%;
		}
		.col-m-pr-33 {
			margin-left: 33%;
		}
		.col-m-pl-33 {
			margin-right: 33%;
		}
		.col-m-66 {
			width: 66%;
		}
		.col-m-pr-66 {
			margin-left: 66%;
		}
		.col-m-pl-66 {
			margin-right: 66%;
		}
		@for $c from 1 through $_grid-colunms {
			$c-width: $c * $percentage-jumps;
			$c-clean: str-replace(inspect($c-width), '.', '-', 1);
			$c-percent: $c-width * 1%;
			.col-m-pr-#{$c-clean} {
				margin-left: $c-percent;
			}
			.col-m-pl-#{$c-clean} {
				margin-left: $c-percent;
			}
		}

		@for $c from 10 through $_grid-colunms {
			$c-width: $c * $percentage-jumps;
			$c-clean: str-replace(inspect($c-width), '.', '-', 1);
			$c-percent: $c-width * 1%;
			.col-m-#{$c-clean} {
				display: inline-block;
				width: $c-percent;
			}
		}
	}
}