@import "variables";

@import "mixins/media";
@import "mixins/loop";

// --------------
// Core Build
// --------------
.grid {
	letter-spacing: -0.25em;
	*letter-spacing: normal;
	position: relative;
	[class*="#{$col_prefix}"] {
		display: inline-block;
		vertical-align: top;
		letter-spacing: normal;
		word-spacing: normal;
	}
}

.grid-float {
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	[class*="#{$col_prefix}"] {
		float: left;
	}
	[class*="#{$col_prefix}"].right {
		float: right;
	}
}

[class*="#{$col_prefix}"] {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	&.center {
		display: block;
		margin: 0 auto;
	}
	&.block {
		display: block;
	}
}

/* ---- Mobile ---- */
@include loop ($small_col);

/* ---- Tablet ---- */
@include media(tablet) {
	@include loop ($medium_col);
}

/* ---- Desktop ---- */
@include media(desktop) {
	@include loop ($large_col);
}