@import "variables";
@import "loop";

// Core grid styles
// -------------------------
.grid, .grid-left, .grid-right {
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
.grid, .grid-left {
	[class*="#{$col_prefix}"] {
		float: left;
	}
}
.grid-right {
	[class*="#{$col_prefix}"] {
		float: right;
	}
}
.grid-center {
	[class*="#{$col_prefix}"] {
		float: none;
		margin: 0 auto;
	}
}

[class*="#{$col_prefix}"] {
	overflow: hidden;
	box-sizing: border-box;
	@if $use_padding == true {
		width: 100%;
		padding-right: $spacer;
		padding-left: $spacer;
	} @else {
		width: 100% - $_spacer;
		margin-right: $spacer;
		margin-left: $spacer;
	}
}

// Default columns styles
// -------------------------
@include loop ("." + $prefix);

// Loop through all breakpoints
// -------------------------
@each $breaks in $breakpoints {
	$pos: index($breakpoints, $breaks);
	$breakpoint: $breaks;
	$breakprefix: "." + $prefix + nth($prefixes, $pos);

	@media screen and (min-width: #{$breakpoint}) { 
		// Breakpoint columns styles
		// -------------------------
		@include loop ($breakprefix);
	}
}