// Loop mixin
// -------------------------
@mixin loop ($prefix) {
	@if $use_padding == true {
		#{$prefix + $col_prefix}__no-padding{
			padding-right: 0;
			padding-left: 0;
		}
	}

	// loop $helpers
	@each $size in $helpers {
		$label: nth($size, 1);
		$value: nth($size, 2);

		#{$prefix + $col_prefix}-#{$label} {
			@if $use_padding == true {
				width: $value;
			} @else {
				width: $value - $_spacer;
			}
		}
	}

	// loop $columns
	@for $cols from 1 through $colunms {
		$width: $cols * $_p* 1%;
		#{$prefix + $col_prefix}-#{$cols} {
			@if $use_padding == true {
				width: $width;
			} @else {
				width: $width - $_spacer;
			}
		}
		@if $width != 100% {
			#{$prefix}push-right-#{$cols} {
				margin-left: $width;
			}
			#{$prefix}push-left-#{$cols} {
				margin-right: $width;
			}
		}
	}
	
	[class*="#{$col_prefix}"] {
		&#{$prefix}block {
			float: none;
		}
		&#{$prefix}center {
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
		&#{$prefix}right {
			float: right;
		}
		&#{$prefix}left {
			float: left;
		}
	}
}